<VirtualHost *:80>
   ServerName {{ httpd.domain.name}}.com
   DocumentRoot "/var/www/{{ httpd.domain.name}}.com/public_html"
   DirectoryIndex index.php index.html index.xml
   <Directory /var/www/{{ httpd.domain.name}}.com/public_html >
           Options FollowSymLinks
           AllowOverride all
   </Directory>
   CustomLog "/var/log/httpd/{{ httpd.domain.name}}.com-access_log" combined
   ErrorLog "/var/log/httpd/{{ httpd.domain.name}}.com-error_log"
</VirtualHost>
